<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div>
      <%= @game.first_player.name %> vs. <%= @game.second_player.name %>
      <%= @game.first_player.name %> HP: <%= @game.first_player.hp %>
      <%= @game.second_player.name %> HP: <%= @game.second_player.hp %>

      <%= @game.current_turn.name %>'s turn.

      <a href= "/attack"> Attack </a>
    </div>
  </body>
</html>
